<h2>Amm movie details below</h2>

<Input @value={{this.title}} placeholder="title"/><br>
<Input @value={{this.description}} placeholder="description"/><br>

<select id="actors-list" multiple onchange={{action "selectActor"}}>
  {{#each @model as |actor|}}
    <option value={{actor.id}} selected={{include selectedActorsIds actor.id}}>
      {{actor.firstName}} {{actor.secondName}}
    </option>
  {{/each}}
</select><br>

<button {{on "click" this.addMovie}}>Add new movie</button>
